@charset "utf-8";

body{
    text-align: center;
    line-height: 50px;
    background-image: url(./img/back.jpg);
}
h1{
    color: blue;
    background-color: lime;
    width: 200px;
    margin: 10px auto;
}

a{
    text-decoration: none;
}

a:hover{
    color: aqua;
}

.syoukai{
    margin: 0 auto;
    background-color: #CCCCFF;
    width: 200px;
    border-radius: 20%;
}