@charset "utf-8";

img{
    display: block;
    margin: 0 auto;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.atumari{
    color: red;
}

.mokuji{
    margin: 0 auto;
    width: 200px;
    border: 3px solid #708D81;
    border-radius: 10px;
}

a{
    color: #000000;
    text-decoration: none;
    display: block;
    line-height:20px;
    padding: 5px 20px;
}


h2{
    text-align: center;
}

h3{
    text-align: center;
}

.btn{
    padding-bottom: 10px;
}

.btn a{
    background-color: cadetblue;
    color: #ffffff;
    display: block;
    width: 185px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 50px;
    border: solid 3px cadetblue;
    margin: 0 auto;
}

.btn a:hover{
    border: solid 3px cadetblue;
    text-decoration: none;
    color: cadetblue;
    background: #ffffff;
}